.login-box {
	background-color: #d39292;
	padding: 60px 40px;
	width: 50%;
	color: aliceblue;
}
.login-form {
	margin-top: 50px;
	background-color: rgb(226, 192, 192);
	padding: 40px 20px;
}

@media only screen and (max-width: 780px) {
	.login-box {
		width: 80%;
	}
}
